.annon-content {
  max-width: 400px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.hspc-logo {
  max-width: 400px;
  margin-bottom: 20px;
}
.verification-error {
  margin: 3rem 0;
  display: inline-block;
  text-align: center;
  color: red;
  width: 100%;
}
.verification-success {
  margin: 3rem 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}
