.login-box-content {
  padding: 20px;
}

.sign-in-divider {
  margin-top: 36px;
  margin-bottom: 0px;
}

.sign-in-divider p {
  text-align: center;
  background-color: white;
  margin: -20px auto -10px auto;
  width: 50px;
}
